* {
    outline: none;
    text-align: center;
}

html {
    height: 100%;
}

header {
    width: 100%;
}

h1 {
    font-size: 34px;
}

body {
    background-color: #128c7e;
    color: #ece5dd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: 100%;
    display: grid;
    margin: 0px;
}

#forbidden {
    margin-right: 10%;
}

#tryAgain {
    margin: auto;
}

.logo {
    max-width: 50px;
    height: 50px;
}

section {
    background-color: #075e54;
    display: flex;
    align-items: center;
    margin: 5% auto;
    border-radius: 27px;
    padding: 4%;
    width: 91%;
    justify-content: center;
    height: 90px;
}

#sectionLogin {
    flex-direction: row;
}

#sectionCipher {
    height: auto;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    padding: 18px 0px;
}

#password {
    background-color: #dcf8c6;
    border-radius: 12px;
    margin: auto;
    width: 87%;
    height: 5%;
    padding: 3%;
}

button {
    background-color: #25d366;
    color: #075E54;
    font-size: 1.1em;
    border-radius: 12px;
    padding: 7px;
    font-weight: bold;
}

#clear {
    border-radius: 50%;
    width: 60%;
}

input {
    display: flex;
}

#offset {
    width: 48px;
    padding: 5%;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: no-repeat;
    font-size: 80%;
    margin: auto;
    border-radius: 5px;
}

#text {
    width: 300px;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: no-repeat;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: bolder;
}

.btn2 {
    width: 80px;
    height: 50%;
    margin-top: 5%;
}

.hide {
    display: none;
}

footer {
    font-size: 15px;
}

#katkode {
    width: 3%;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 19px;
        height: 100%;
    }
    main {
        display: grid;
    }
    h1 {
        font-size: 86px;
    }
    .logo {
        max-width: 70px;
        height: 70px;
    }
    section {
        border-radius: 115px;
        padding: 0%;
        width: 45%;
        height: 135px;
    }
    #sectionCipher {
        height: 75%;
        width: 65%;
        margin: 0% auto;
        /* display: flex; */
    }
    #sectionCipher div {
        width: 40%;
    }
    .btn2 {
        width: 40%;
        /* height: 48%; */
        margin-top: 2%;
    }
    #clear {
        width: 35%;
    }
    #tryAgain {
        margin: 0%;
    }
    #text {
        width: 38%;
        height: 87%;
        /* margin-right: 0%; */
    }
    #offset {
        font-size: 29px;
    }
    footer {
        font-size: 25px;
    }
}