body {
    margin-top: 9%;
    background-color: #128c7e;
    color: #ece5dd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#forbidden {
    margin-right: 10%;
}

div {
    /* margin-left: 20px; */
    text-align: center;
}

#loginInput {
    margin: 0%;
    text-align: center;
    margin: 10%;
}

#tryAgain {
    margin: auto;
}

.logo {
    max-width: 60px;
    height: 60px;
}

section {
    background-color: #075e54;
    display: flex;
    align-items: center;
    margin: 5% auto;
    border-radius: 115px;
    padding: 4%;
    width: 50%;
    justify-content: center;
    height: 90px;
}

#sectionLogin {
    flex-direction: row;
}

#sectionCipher {
    height: 0%;
    margin-top: 2%;
    margin-bottom: -6%;
}

header {
    font-size: 60px;
    width: 100%;
    text-align: center;
}

#password {
    background-color: #dcf8c6;
    border-radius: 12px;
    margin: auto;
    width: 87%;
    height: 5%;
    text-align: center;
    padding: 4%;
}

button {
    background-color: #25d366;
    color: #075E54;
    text-align: center;
    font-size: 1em;
    border-radius: 12px;
    padding: 6px;
    font-weight: bold;
}

#clear {
    border-radius: 50%;
    padding: 6px;
    width: 50%;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-top: 10%;
}

input {
    display: flex;
    text-align: center;
}

#offset {
    width: 48px;
    padding: 6%;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: no-repeat;
    font-size: 80%;
    margin: auto;
    border-radius: 5px;
}

#text {
    width: 45%;
    height: 35vh;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: no-repeat;
    font-size: 80%;
    border-radius: 5px;
}

.btn2 {
    width: 89%;
    height: 50%;
    margin-top: 16%;
}

.hide {
    display: none;
}